<div class="title-area">
    <h1>{{activeRecipe?.name}}</h1>
    <div class="item-buttons">
        <button mat-icon-button (click)="removeRecipe(activeRecipe)">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button  (click)="navigateToEdit(activeRecipe?._id)">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
</div>

<div class="basic-info">
<p>Preparation time: <strong>{{activeRecipe?.preparationTimeInMinutes}} minutes</strong></p>
<p>{{activeRecipe?.description}}</p>
</div>

<div class="ingredients">
    <h3>Ingredients list:</h3>
    <div class="ingredients-list">
        <p *ngFor="let item of activeRecipe?.ingredients">
            {{item.name}} : <strong>{{item.quantity}}</strong>
        </p>
    </div>
</div>

