<div *ngIf="(recipesFacade.activeRecipe$ | async)">
  <div class="title">
  <h1>{{ (recipesFacade.activeRecipe$ | async)?.name }}</h1>
  <div class="item-buttons">
    <ng-container *ngIf="recipesFacade.activeRecipe$ | async as activeRecipe">
      <button mat-icon-button (click)="navigateToEdit(activeRecipe._id)">
        <mat-icon>edit</mat-icon>
      </button>
    </ng-container>
  </div>
</div>

  <div class="description">
    <p>Preparation time: <strong>{{ (recipesFacade.activeRecipe$ | async)?.preparationTimeInMinutes }} minutes</strong></p>
    <p>{{ (recipesFacade.activeRecipe$ | async)?.description }}</p>

    <div>
      <h3>Ingredients list:</h3>
      <div>
        <p *ngFor="let item of (recipesFacade.activeRecipe$ | async)?.ingredients || []">
          {{ item.name }} : <strong>{{ item.quantity }}</strong>
        </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!(recipesFacade.activeRecipe$ | async)">
  <p>We are sorry</p>
  <p>We couldn't find recipe with following id</p>
</div>
